<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width,initial-scale=1">

<style>

body{
background:#081028;
color:white;
font-family:Arial;
text-align:center;
padding:40px;
}

button{
padding:12px 20px;
background:#22c55e;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

img{
max-width:90%;
margin-top:20px;
}

</style>

</head>

<body>

<h2>🔥 Remove Background</h2>

<input type="file" id="img">

<br><br>

<button onclick="go()">
Remove
</button>

<br>

<img id="out">

<script>

async function go(){

let f=img.files[0];

if(!f){
alert("upload image");
return;
}

let fd=new FormData();

fd.append("image",f);

let res=
await fetch("/remove",{
method:"POST",
body:fd
});

let blob=
await res.blob();

out.src=
URL.createObjectURL(blob);

}

</script>

</body>

</html>
